name: Docker Image CI

on:
  push:
    branches: [ "version-1" ]
  pull_request:
    branches: [ "version-1" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: docker build
        run: |
          docker compose up --build -d
